<p style="color: green"><%= notice %></p>

<h1>Authors</h1>

<div>
  <span>Add new</span>
  <div>
    <%= link_to "Author", new_author_path %><br/>
    <%= link_to "Book", new_book_path %>
  </div>
</div>

<div>
  <div class="d-flex flex-row align-items-start align-self-start" id="authors">
    <% @authors.each do |author| %>
      <%= render author %>
    <% end %>
  </div>
  <%== pagy_nav(@pagy) %>
</div>